<div class="main">
    <nav class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Strona główna</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="cursor: pointer;">Informacja</a>
                </li>
                <li class="breadcrumb-item active">O nas</li>
            </ol>
        </div>
    </nav>

    <div class="container">
        <div class="page-header page-header-big text-center"
            style="background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url(assets/images/about-header-bg.jpg) center center no-repeat; background-size: cover;">
            <h1 class="page-title text-white">O nas<span class="text-white">Kim jesteśmy</span></h1>
        </div>
    </div>

    <div class="page-content pb-0">
        <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-3 mb-lg-0">
                        <h2 class="title">Kim jesteśmy ?</h2>
                        <p class="lead text-primary mb-3">VLADIOLA WATCH - to nowoczesny sklep ze stylowymi i kreatywnymi zegarkami. Oferujemy naszym klientom duży
                          <br>
                          wybór smartwochi, smartbandów i zegarków znanych producentów. Zegarki mają doskonałą jakość i nowoczesny design, a także własne markowe pudełko.</p>
                        <p class="mb-2">Stale poszerzamy naszą ofertę w oparciu o potrzeby naszych klientów, ponieważ to nasi klienci są dla nas inspiracją do dalszego rozwoju.
                          Wychodząc naprzeciw oczekiwaniom klienta oferujemy szybką dostawę - przy płatności zamówienia do godz. 12-00 wysyłka realizowana jest tego samego dnia, czyli klient otrzyma towar następnego dnia.
                          Życzymy każdemu naszemu klientowi, aby w sklepie Vladiola Watch znalazł swój niepowtarzalny styl!!!</p>

                        <a routerLink="/pages/contact" class="btn btn-sm btn-minwidth btn-outline-primary-2">
                            <span>SKONTAKTUJ SIĘ Z NAMI</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-2"></div>

    </div>
</div>
