<main class="main">
    <vio-breadcrumb current="Extended" [prev]="prev" [next]="next">
    </vio-breadcrumb>

    <div class="page-content">
        <div class="container skeleton-body">
            <div class="product-details-top">
                <div class="skel-pro-single gallery mb-4" [class.loaded]="loaded">
                    <div class="row">
                        <div class="col-12">
                            <div class="skel-product-gallery"></div>
                            <product-gallery [product]="product" *ngIf="loaded">
                            </product-gallery>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="entry-summary row mt-2">
                                        <div class="col-md-12">
                                            <div class="entry-summary1 mt-2 mt-md-0"></div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="entry-summary2"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="entry-summary row mt-2">
                                        <div class="col-md-12">
                                            <div class="entry-summary1 mt-2 mt-md-0"></div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="entry-summary2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <product-detail [product]="product" *ngIf="loaded"></product-detail>
            </div>

            <div class="skel-pro-tabs" *ngIf="!loaded else infoBlock"></div>
            <ng-template #infoBlock>
                <product-info [product]="product"></product-info>
            </ng-template>

            <related-products [products]="related" [loaded]="loaded"></related-products>
        </div>
    </div>
</main>
